// nextflow.config

params {
    input = "samplesheet"
    outdir = "results" 
}

// KHỐI 1: CẤP PHÁT TÀI NGUYÊN & CÔNG CỤ
process {
    withName: 'FASTP' {
        cpus = 2
        // Khai báo cho Conda
        conda = 'bioconda::fastp' 
        // Khai báo cho Docker/Singularity (Dùng chung 1 link image)
        container = 'community.wave.seqera.io/library/fastp:1.1.0--08aa7c5662a30d57'
    }
    
    withName: 'SPADES' {
        cpus = 2
        memory = '4 GB'
        conda = 'bioconda::spades'
        container = 'community.wave.seqera.io/library/spades:4.1.0--77799c52e1d1054a'
    }

    withName: 'PROKKA' {
        cpus = 2 
        conda = 'bioconda::prokka'
        container = 'community.wave.seqera.io/library/prokka_openjdk:10546cadeef11472'
    }
}

// KHỐI 2: ĐỊNH NGHĨA CÁC PROFILES (MÔI TRƯỜNG CHẠY)
profiles {
    
    // Tùy chọn 1: Chạy bằng Docker (Dành cho máy cá nhân)
    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled = false
    }
    
    // Tùy chọn 2: Chạy bằng Singularity (Dành cho Siêu máy tính/HPC)
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true // Tự động gắn ổ cứng để đọc data
        docker.enabled = false
        conda.enabled = false
    }
    
    // Tùy chọn 3: Chạy bằng Conda (Dành cho Server không có quyền Root)
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
}